#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: 基线 Baseline

# Short bio or description (displayed in the header)
description: 教你怎么建这样一个博客

#
# Flags below are optional
#

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: https://raw.githubusercontent.com/barryclark/jekyll-now/master/images/jekyll-logo.png


# Tabs in header. There are 'Blog', 'About', 'Archive', 'Tags'
# and URL Link(e.g. 'Theme' tab below) tabs. If you don't need one, just delete
# it from the list(Delete '- name: ' and 'url: ', too!)
navigation:
  - name: 首页
    url: /
  - name: 标签
    url: /tags.html
  - name: 分类
    url: /categories.html
  - name: RSS
    url: /atom.xml
  - name: 关于
    url: /about.html

# Pagination
paginate: 20

# Includes an icon in the footer for each username you enter
footer-links:
  behance: # https://www.behance.net/<username>
  dribbble:
  email: terminus2049@protonmail.com
  facebook:
  flickr:
  github: diymysite/rich-jekyll-template
  googleplus: # anything in your profile username that comes after plus.google.com/
  instagram:
  linkedin:
  telegram: terminus_9402
  pinterest:
  rss: atom.xml # just type anything here for a working RSS icon
  stackoverflow: # your stackoverflow profile, e.g. "users/50476/bart-kiers"
  tumblr: # https://<username>.tumblr.com
  twitter: 2049bbs
  youtube: # channel/<your_long_string> or user/<user-name>

# Text under the icons in footer
footer-text: Powered by <a href="https://github.com/diymysite/rich-jekyll-template">DIY My Site</a>

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: https://diymysite.github.io/

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: /blog

# Social share
sharebuttons:
  jquery: false
  nojavascript: true

gitalk:
  clientID: ac14c26bcf8a16e03567
  clientSecret: 443574e2aa0e8bccf03adac267a82fdaa0a346c2
  repo: blog
  owner: diymysite
  admin:
    - DamoresClub
    - TerminusBot
    - chinatimeline
    - diymysite


#
# !! You don't need to change any of the configuration flags below !!
#

# permalink: /:title/
# paginate_path: /page:num/

# The release of Jekyll Now that you're using
version: v3.8.4

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

strict_front_matter: true


# Set the Sass partials directory, as we're using @imports
sass:
  style: :compressed #:expanded # You might prefer to minify using :compressed

# Use the following plug-ins
plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-algolia

# Exclude these files from your production _site
exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME

algolia:
  application_id: AQ2NWA6FRT
  index_name:     DIYMYSITE # You can replace that with whatever name you want
  search_only_api_key: 533d855435d988fee73b330d3df4e41c
  files_to_exclude: [404.md, about.md, README.md]

destination: build

future: false

webcounterimg: ghfqhne7z87531aunzg4cqds8kfcekpa
